#root {
	font-family: 'Open Sans', sans-serif;
}
body {
	margin: 0.8em;
	padding: 0;
}
th { 
	cursor: pointer;
}
.pageNumber {
	cursor: pointer;
	color: #14d7f3;
	font-size: 18px;
	margin-right: 0.5em;
	font-weight: bold;
}
#pageNumbers {
	list-style: none;
	text-align: right;
	margin-right: 2em;
}
.table {
	border: solid 1px;
	border-color: rgb(222, 226, 230);
}